[importlinter]
root_package = _stories_pytest
include_external_packages = true

[importlinter:contract:1]
name = Private package can not import from public package
type = forbidden
source_modules = _stories_pytest
forbidden_modules = stories_pytest
